.Collection {
	width: 100%;

	.collectionWrapper {
		position: relative;
		top: calc(-100vh);
		height: 300vh;
		width: 100%;
		z-index: 10;
		background-color: #fff;

		div {
			position: relative;
			bottom: -60vh;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: flex-end;
			margin: 3vh 1vw;

			.imgWrapper {
				width: 200px;
				height: 300px;

				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 820px) {
	.Collection {
		width: 100vw;

		.collectionWrapper {
			position: relative;
			height: fit-content;
			top: calc(-100vh + 50px);
			z-index: 10;
			background-color: #fff;

			div {
				height: 200vh;
			}
		}
	}
}
