.Collection {
	width: 100%;

	.collectionWrapper {
		position: relative;
		top: calc(-100vh + 140px);
		height: 760vh;
		width: 100%;
		z-index: 10;
		background-color: #fff;

		div {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-end;
			background-color: #fff;

			.itemsContainer {
				position: relative;
				bottom: calc(-100vh - 80px);
				max-width: 200px;
				max-height: 320px;
				margin: 3vh 1vw;
				padding-bottom: 5px;

				&:hover {
					border-bottom: 5px solid black;
					transition: border-bottom 0.3s ease-in;
				}

				.nameWrapper {
					width: 100%;
					display: flex;
					justify-content: space-between;

					.starIcon {
						opacity: 0;
						cursor: pointer;
						transition: 0.4s ease-in-out;

						&:hover {
							opacity: 1;
						}
					}

					.active {
						opacity: 1;
						color: rgb(220, 23, 128);
					}
				}

				.imgWrapper {
					width: 200px;
					height: 300px;
					cursor: pointer;

					img {
						max-width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 820px) {
	.Collection {
		.collectionWrapper {
			position: relative;
			top: calc(-100vh + 60px);
			height: 1360vh;
			width: 100%;
			z-index: 10;
			background-color: #fff;

			div {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: flex-end;

				.itemsContainer {
					position: relative;
					bottom: calc(-100vh - 80px);
					max-width: 200px;
					max-height: 320px;
					margin: 3vh 1vw;
					padding-bottom: 5px;

					&:hover {
						border-bottom: 5px solid black;
					}

					.nameWrapper {
						width: 100%;
						display: flex;
						justify-content: space-between;

						.starIcon {
							cursor: pointer;
						}
					}

					.imgWrapper {
						width: 200px;
						height: 300px;
						cursor: pointer;

						img {
							max-width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
}
