.Main {
  height: 100%;
  overflow-y: visible;

  article {
    position: relative;
    height: 400vh;
    top: calc(-100vh + 90px);
    z-index: 10;
    background-color: #fff;

    .videoWrapper {
      position: absolute;
      top: calc(100vh - 140px);
      width: 100%;
      height: 25%;
      background-color: #fff;
      display: flex;
      justify-content: center;

      .textWrapper {
        position: absolute;
        top: calc(100vh - 140px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        font-weight: 500;

        p {
          margin-bottom: 10px;
        }

        h4 {
          margin-bottom: 20px;
          font-size: 1.8rem;
        }

        div {
          padding: 10px 20px;
          background-color: #fff;
          font-size: 0.8rem;
          cursor: pointer;
        }
      }
    }

    .centerContainer {
      height: 340px;
      width: 100%;
      position: absolute;
      bottom: 0;

      .centerWrapper {
        height: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .logoBox {
        width: 100%;
        height: 50px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        background-color: #fff;

        img {
          margin-top: 20px;
          margin-left: 120px;
          width: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .Main {
    height: 100%;
    overflow-y: visible;

    article {
      position: relative;
      top: calc(-100vh);
      z-index: 10;
      background-color: #fff;

      .videoWrapper {
        position: absolute;
        top: calc(100vh - 80px);
        width: 100%;
        height: 25%;
        background-color: #fff;
        display: flex;
        justify-content: center;

        .textWrapper {
          position: absolute;
          top: calc(55vh);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-size: 14px;
          font-weight: 500;

          p {
            margin-bottom: 10px;
          }

          h4 {
            margin-bottom: 20px;
            font-size: 1.8rem;
          }

          div {
            padding: 10px 20px;
            background-color: #fff;
            font-size: 0.8rem;
            cursor: pointer;
          }
        }
      }
      .centerContainer {
        height: 340px;
        width: 100%;
        position: absolute;
        bottom: 0;

        .centerWrapper {
          height: inherit;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        .logoBox {
          width: 100%;
          height: 50px;
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          background-color: #fff;
          img {
            margin-top: 20px;
            margin-left: 120px;
            width: 70px;
          }
        }
      }
    }
  }
}
