

.slider {
border: 1px solid red;
width: 100%;
height: 100vh;
box-sizing: border-box;
margin: 0;
padding: 0;
display: flex;
align-items: center;
}

.slide {
border: 1px solid blue;
min-width: 100%;
height: 80%;
transition: 0.5s;
}

%btn-styles {
position: relative;
top: 50%;
transform: translateY(-50%);
width: 10%;
height: 80vh;
background: none;
}

#goLeft {
left: 0;
/ position: relative;
top: 50%;
left: 0;
transform: translateY(-50%);
width: 100%;
height: 80vh;/

.slider {
width: 100%;
height: 100vh;
box-sizing: border-box;
display: flex;
align-items: center;
}

.each-slide {
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;

border: 1px solid blue;
width: 45%;
//height: 80vh;
}

.slideImg {
//padding-left: 202px;

justify-content: center;
//display: inline;
}

.slideImg img {
width: 670px;
margin: 0 auto;
}

.slick-prev {
left: 50px;
}

.articleGroup {
margin: 0 auto;
position: relative;

border: 1px solid blue;
width: 45%;
}

button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
background-color: #000;
border-radius: 50%;
}

::before {
visibility: visible;
}