html {
    scroll-behavior: smooth;
}

.container {
    background-color: white;

    z-index: 50;
    display: flex;
    text-align: left;

    .dotNav {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
        left: 40px;
        margin-top: 30%;

        .dot1 {
            position: relative;
            margin-bottom: 10px;
            height: 7px;
            width: 7px;
            background-color: gray;
            border-radius: 50%;
            border: 1px solid white;
            transition: 0.2s ease-in;

            &:hover {
                cursor: pointer;
            }
        }

        .dot2 {
            position: relative;
            margin-bottom: 10px;
            height: 7px;
            width: 7px;
            background-color: gray;
            border-radius: 50%;
            border: 1px solid white;
            transition: 0.2s ease-in;

            &:hover {
                cursor: pointer;
            }
        }

        .dot3 {
            position: relative;
            margin-bottom: 10px;
            height: 7px;
            width: 7px;
            background-color: gray;
            border-radius: 50%;
            border: 1px solid white;
            transition: 0.2s ease-in;

            &:hover {
                cursor: pointer;
            }
        }

        .dot4 {
            position: relative;
            margin-bottom: 10px;
            height: 7px;
            width: 7px;
            background-color: gray;
            border-radius: 50%;
            border: 1px solid white;
            transition: 0.2s ease-in;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .img_slider {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300vh;
        padding-left: 10%;
        margin-top: 25%;
        margin-bottom: 20%;

        .img1 {
            width: 100%;
            height: 100%;
            //background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_1094/chanel-19-flap-bag-navy-blue-white-red-tweed-gold-tone-silver-tone-ruthenium-finish-metal-tweed-gold-tone-silver-tone-ruthenium-finish-metal-packshot-default-as1160b02877mh694-8826448871454.jpg');
            background-size: contain;
            background-repeat: no-repeat;

            margin-top: 20%;
        }

        .img2 {
            width: 100%;
            height: 100%;
            //background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_1094/chanel-19-flap-bag-navy-blue-white-red-tweed-gold-tone-silver-tone-ruthenium-finish-metal-tweed-gold-tone-silver-tone-ruthenium-finish-metal-packshot-alternative-as1160b02877mh694-8826448740382.jpg');
            background-size: contain;
            background-repeat: no-repeat;

            margin-top: 10%;
        }

        .img3 {
            width: 100%;
            height: 100%;
            //background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_1094/chanel-19-flap-bag-navy-blue-white-red-tweed-gold-tone-silver-tone-ruthenium-finish-metal-tweed-gold-tone-silver-tone-ruthenium-finish-metal-packshot-other-as1160b02877mh694-8826449592350.jpg');
            background-size: contain;
            background-repeat: no-repeat;

            margin-top: 10%;
        }

        .img4 {
            width: 100%;
            height: 100%;
            //background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_1094/chanel-19-flap-bag-navy-blue-white-red-tweed-gold-tone-silver-tone-ruthenium-finish-metal-tweed-gold-tone-silver-tone-ruthenium-finish-metal-packshot-extra-as1160b02877mh694-8826448936990.jpg');
            background-size: contain;
            background-repeat: no-repeat;

            margin-top: 10%;
        }
    }

    .product_box {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 30%;
        top: 20%;
        left: 60%;

        .name_box {
            height: 8%;
            border-bottom: thick solid black;

            .name {
                font-family: abchanel-corpo, 맑은고딕, Malgun Gothic, Apple Gothic, 돋움,
                    Dotum, 굴림, Gulim, sans-serif;
                font-size: 25px;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }

        .detail_box {
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30%;

            font-family: 맑은고딕, Malgun Gothic, Apple Gothic, 돋움, Dotum, 굴림,
                Gulim, sans-serif;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 1px;

            .item_size {
                margin: 2% 0;
            }

            .unit_box {
                margin-left: 1%;

                .unit_change {
                    text-decoration: underline;
                    cursor: pointer
                }
            }

            .price {
                font-family: abchanel-corpo, 맑은고딕, Malgun Gothic, Apple Gothic, 돋움,
                    Dotum, 굴림, Gulim, sans-serif;
                font-size: 16px;
                letter-spacing: 2px;
                font-weight: 700;
                margin-top: 5%;
            }
        }

        .option_box {
            margin-top: 5%;

            font-family: 맑은고딕, Malgun Gothic, Apple Gothic, 돋움, Dotum, 굴림,
                Gulim, sans-serif;
            font-weight: 300;
            font-size: 14px;
            width: 120%;

            .option_number {
                font-size: 12px;
                font-weight: 500;
                margin: 5% 0;

            }

            .scroll_btn_on {
                position: absolute;
                margin-top: 60px;
                margin-left: -40px;

                &:hover {
                    cursor: pointer;
                }

                z-index: 1;
            }

            .scroll_btn_off {
                position: absolute;
                margin-top: 60px;
                margin-left: 400px;

                &:hover {
                    cursor: pointer;
                }

                z-index: 1;
            }

            .option_slider {
                position: relative;
                height: 100%;
                width: 82%;

                .option_category_list {
                    display: flex;
                    height: 20%;
                    border-bottom: thin solid rgba(90, 90, 90, 0.3);

                    .option_category1 {
                        height: 106%;
                        margin-right: 5%;

                        &:hover {
                            cursor: pointer;
                        }

                        .optionUnderline {
                            position: relative;
                            top: -55%;
                            left: 0%;
                            width: 100%;
                            height: 100%;
                            border-bottom: 2px solid black;
                            transition: left 0.1s ease-out;
                        }
                    }

                    .option_category2 {
                        height: 106%;
                        margin-right: 5%;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .option_category3 {
                        height: 106%;
                        margin-right: 5%;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .option_img_box {
                    position: relative;
                    width: 100%;
                    height: 70%;
                    overflow: hidden;

                    .option_img_list {
                        position: absolute;
                        left: 0;
                        transition: left 0.5s ease-out;
                        display: flex;
                        justify-content: flex-start;
                        height: 80%;
                        width: 240%;

                        .option_img0 {
                            width: 118px;
                            height: 60px;
                            background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_262/chanel-19-flap-bag-blue-lambskin-gold-tone-silver-tone-ruthenium-finish-metal-lambskin-gold-tone-silver-tone-ruthenium-finish-metal-packshot-default-as1160b02875n0902-8828578431006.jpg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-top: 3%;
                            margin-right: 2%;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .option_img1 {
                            width: 118px;
                            height: 60px;
                            background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_262/chanel-19-flap-bag-black-goatskin-gold-tone-silver-tone-ruthenium-finish-metal-goatskin-gold-tone-silver-tone-ruthenium-finish-metal-packshot-default-as1160b0321594305-8829413228574.jpg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-top: 3%;
                            margin-right: 2%;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .option_img2 {
                            width: 118px;
                            height: 60px;
                            background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_262/chanel-19-flap-bag-light-pink-goatskin-gold-tone-silver-tone-ruthenium-finish-metal-goatskin-gold-tone-silver-tone-ruthenium-finish-metal-packshot-default-as1160b02511n5948-8825006030878.jpg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-top: 3%;
                            margin-right: 2%;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .option_img3 {
                            width: 118px;
                            height: 60px;
                            background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_262/chanel-19-flap-bag-blue-lambskin-gold-tone-silver-tone-ruthenium-finish-metal-lambskin-gold-tone-silver-tone-ruthenium-finish-metal-packshot-default-as1160b01901n5330-8822635724830.jpg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-top: 3%;
                            margin-right: 2%;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .option_img4 {
                            width: 118px;
                            height: 60px;
                            background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_262/chanel-19-flap-bag-dark-beige-lambskin-gold-tone-silver-tone-ruthenium-finish-metal-lambskin-gold-tone-silver-tone-ruthenium-finish-metal-packshot-default-as1160b01901n5454-8822634414110.jpg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-top: 3%;
                            margin-right: 2%;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .find_store_box {
                display: flex;
                align-items: center;
                height: 40%;
                border-bottom: thin solid rgba(90, 90, 90, 0.3);
                border-top: thin solid rgba(90, 90, 90, 0.3);
                width: 82%;

                .find_store_icon {}

                .find_store_text {
                    font-size: 12px;
                    font-weight: 500;
                    margin-left: 15%;
                }
            }

            .law {
                margin-top: 3%;
                font-size: 13px;
                color: rgba(90, 90, 90, 0.8);
                width: 75%;

                .law_link {
                    text-decoration: underline;
                }
            }
        }
    }
}