.news {
  height: 80%;
  overflow-y: visible;

  .newsWrapper {
    // width: 100%;
    position: relative;
    // height: 100vh;
    top: 0vh;
    z-index: 10;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    height: 400vh;
    top: -85vh;

    background-color: #fff;

    .newsLogoWrapper {
      justify-content: center;
      //display: flex;
      padding-top: 948px;
      padding-bottom: 60px;
      .wrapperwrapper {
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-left: 460px;

        // background: url(/asset/frontstage/img/chanel-news.gif) no-repeat;
        //background-size: auto 100%;
        //-webkit-backface-visibility: hidden;
        //backface-visibility: hidden;
        //margin: 0 auto;
        //transform: scale(1);
        //transform-origin: top center;
        //transition: transform 0.2s ease;
        img {
          z-index: 200;
        }
        .newsHeader {
          position: fixed;
        }
      }
    }
  }
  .newsArticle {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    width: 45%;
    margin-top: 150px;
    z-index: 10;
  }
}
