.fs-wishlist-header__share {
  margin-top: 10px;
  color: #767676;
  margin-top: 10px;
  padding-top: 30px;
  margin: 0 auto;
  width: 200px;
  justify-content: center;
  display: flex;
  button {
    background: none;
    border: 0;
    line-height: normal;
    font-family: inherit;
    font-size: 100%;
    text-align: center;
    text-rendering: auto;
    font: 400 13.3333px Arial;
    cursor: pointer;
  }
}

.fs-wishlist-tab {
  -webkit-tap-highlight-color: transparent;
  margin-top: 100px;
}

button {
  //color: #000;
  background: transparent;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fs-wishlist-tab__subtitle,
.fs-wishlist-tab__title {
  display: block;
  font-size: 16px;
  text-align: left;
  pointer-events: none;
  padding-top: 10px;
  font-weight: bold;
}

.fs-wishlist-tab__subtitle {
  font-weight: 300;
  line-height: 1.29;
  color: #767676;
}
.fs-wishlist-tab__subtitle {
  display: block;
  font-size: 16px;
  text-align: left;
  pointer-events: none;
}

.fs-wishlist-tab__head {
  position: relative;
  width: 100%;
  padding-bottom: 8px;
  padding: 0 150px;
}

.fs-wishlist-tab__head:after {
  content: '';
  display: flex;
  position: relative;
  width: 98%;
  //padding: 0 130px;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #ececec;
}

.list_item_B {
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid black;
  width: 300px;
  height: 400px;
  margin: 0 150px;
  padding-top: 150px;

  &:hover {
    .text_box {
      border-top: thick solid black;
    }
  }

  .img_box_B {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .list_img_B {
      width: 100%;
      height: 100%;
      content: '';
      background-image: url('https://www.chanel.com/images/t_fashionselector/q_auto,f_auto,fl_lossy,dpr_auto/w_972/chanel-19-maxi-flap-bag-green-lambskin-gold-tone-silver-tone-ruthenium-finish-metal-lambskin-gold-tone-silver-tone-ruthenium-finish-metal-packshot-default-as1162b02875n6512-8824088166430.jpg,%22');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .text_box_B {
    //display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 7%;
    padding-bottom: 20%;
    width: 100%;
    height: 30%;
    border-top: thick solid white;
    transition: 0.3s;

    .list_name_B {
      font-family: abchanel-corpo, 맑은고딕, Malgun Gothic, Apple Gothic, 돋움,
        Dotum, 굴림, Gulim, sans-serif;
      font-weight: 900;
      font-size: 14px;
      letter-spacing: 1px;
    }

    .list_material {
      font-family: 맑은고딕, Malgun Gothic, Apple Gothic, 돋움, Dotum, 굴림,
        Gulim, sans-serif;
      font-weight: 300;
      font-size: 14px;
      padding-top: 1%;
      letter-spacing: 1px;
    }

    .list_price_B {
      font-family: abchanel-corpo, 맑은고딕, Malgun Gothic, Apple Gothic, 돋움,
        Dotum, 굴림, Gulim, sans-serif;
      font-weight: 900;
      font-size: 14px;
      padding-top: 3%;
      letter-spacing: 1px;

      .gray_star {
        color: gray;
      }
    }

    .list_other_B {
      font-family: 맑은고딕, Malgun Gothic, Apple Gothic, 돋움, Dotum, 굴림,
        Gulim, sans-serif;
      font-weight: 300;
      font-size: 14px;
      padding-top: 3%;
      letter-spacing: 1px;
    }
  }
}

.fs-products-grid__product__wrapper {
  max-width: 73.5%;
  padding: 0;
}

.fs-products-grid__product__wrapper a {
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background: transparent;
}

.fs-wishlist__button.\--active {
  color: #000;
}

.fs-wishlist__button {
  position: absolute;
  padding: 5px;
  top: 3px;
  right: 13px;
  z-index: 1;
  overflow: visible;
  color: #767676;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
}

.wrapper {
  width: 100%;
  margin: 100px auto;
  border: 1px solid black;
  font-size: 30px;
  margin-bottom: -160px;

  display: flex;
  flex-direction: column;
  //padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;

  .tabs {
    display: flex;

    > li {
      width: 33.3%;
      text-align: center;
      border: 1px solid red;
      padding: 20px;
      cursor: pointer;

      &:hover {
        background-color: gray;
      }
    }
  }

  .contents {
    text-align: center;
    font-size: 70px;
    padding: 100px;
  }
}
