.list_box_viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .list_grid_viewer {
    display: grid;
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 72vh);
    grid-auto-flow: row;
    grid-auto-rows: 72vh;
    grid-column-gap: 10%;
  }
}

.wishlist-header-share {
  margin-top: 10px;
  color: #767676;
  margin-top: 10px;
  padding-top: 30px;
  margin: 0 auto;
  width: 200px;
  justify-content: center;
  display: flex;
  button {
    background: none;
    border: 0;
    line-height: normal;
    font-family: inherit;
    font-size: 100%;
    text-align: center;
    text-rendering: auto;
    font: 400 13.3333px Arial;
    cursor: pointer;
  }
}

.wishlist-tab {
  -webkit-tap-highlight-color: transparent;
  margin-top: 100px;
  .fs-wishlist-tab__subtitle,
  .fs-wishlist-tab__title {
    display: flex;
    font-size: 16px;
    text-align: left;
    pointer-events: none;
    padding-top: 10px;
    font-weight: bold;
    border-bottom: 1px solid gainsboro;
    width: 90%;
    justify-content: center;
  }
  .wishlist-tab-subtitle {
    font-weight: 300;
    line-height: 1.29;
    color: #767676;
    display: block;
    font-size: 16px;

    text-align: left;
    pointer-events: none;
    border-bottom: 1px solid gainsboro;
    width: 90%;
  }
  .wishlist-tab-title {
    font-weight: 600;
  }
}

.wishlist-tab-head {
  position: relative;
  width: 100%;
  padding-bottom: 8px;
  padding: 0 150px;
}

.wishlist-tab__head:after {
  content: '';
  display: flex;
  position: relative;
  width: 98%;
  //padding: 0 130px;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #ececec;
}

.list_item_B {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  padding-top: 150px;

  .img_box_B {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
  }

  &:hover {
    .text_box {
      border-top: thick solid black;
    }
  }

  .text_box_B {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 20%;
    width: 100%;
    height: 30%;
    border-top: thick solid white;
    transition: 0.3s;

    .list_name_B {
      //font-family: abchanel-corpo, 맑은고딕, Malgun Gothic, Apple Gothic, 돋움,
      //  Dotum, 굴림, Gulim, sans-serif;
      font-weight: 900;
      font-size: 14px;
      letter-spacing: 1px;
      text-align: center;
    }

    .list_material_B {
      font-family: 맑은고딕, Malgun Gothic, Apple Gothic, 돋움, Dotum, 굴림,
        Gulim, sans-serif;
      font-weight: 300;
      font-size: 14px;
      padding-top: 1%;
      letter-spacing: 1px;
    }

    .list_price_B {
      font-family: abchanel-corpo, 맑은고딕, Malgun Gothic, Apple Gothic, 돋움,
        Dotum, 굴림, Gulim, sans-serif;
      font-weight: 900;
      font-size: 14px;
      padding-top: 3%;
      letter-spacing: 1px;
      text-align: center;

      .gray_star {
        color: gray;
      }
    }

    .list_other_B {
      font-family: 맑은고딕, Malgun Gothic, Apple Gothic, 돋움, Dotum, 굴림,
        Gulim, sans-serif;
      font-weight: 300;
      font-size: 14px;
      padding-top: 3%;
      letter-spacing: 1px;
    }
  }
  a {
    background: transparent;
  }

  .fs-wishlist__button.\--active {
    color: #000;
  }

  .fs-wishlist__button {
    position: absolute;
    padding: 5px;
    top: 3px;
    right: 13px;
    z-index: 1;
    overflow: visible;
    color: #767676;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1;
  }
  .wrapper_B {
    width: 100%;
    margin: 100px auto;
    border: 1px solid black;
    font-size: 30px;
    margin-bottom: -160px;

    display: flex;
    flex-direction: column;
    //padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;

    .tabs {
      display: flex;

      > li {
        width: 33.3%;
        text-align: center;
        border: 1px solid red;
        padding: 20px;
        cursor: pointer;

        &:hover {
          background-color: gray;
        }
      }
    }

    .contents {
      text-align: center;
      font-size: 70px;
      padding: 100px;
    }
  }
}

.wishlist-header-title {
  width: 500px;
  display: flex;
  padding-top: 837px;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
.wishlist-header-label {
  width: 500px;
  font-size: 14px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-block-start: 1em;
}
.products-slideshow {
  padding-top: 200px;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}
.slideshow-title-box {
  width: 500px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-block-start: 1em;
}

.products-slideshow-title {
  font-weight: 600;

  font-size: 25px;
}
.pagination {
  font-size: 15px;
  font-weight: bold;
}
