.Footer {
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	// padding-top: 15%;
	bottom: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	.logoWrapper {
		padding-top: 220px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 180px;
			height: auto;
		}
	}
	.listContainer {
		margin-top: 17%;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;

		.listWrapper {
			font-size: 14px;
			color: #fff;

			p {
				margin-bottom: 20px;

				a {
					color: #fff;
					text-decoration: none;
				}
			}

			ul {
				li {
					opacity: 0.6;
					margin-top: 15px;
				}
			}
		}
	}

	.snsLinks {
		margin: 25px auto;
		padding: 20px 0;
		color: #fff;
		width: 83%;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		display: flex;
		justify-content: space-between;

		.languageWrapper {
			font-size: 14px;

			span {
				opacity: 0.7;
			}

			.selectModal {
				opacity: 1;
				margin-right: 5px;
			}
		}

		.iconsWrapper {
			width: 100px;
			display: flex;
			justify-content: space-between;
			font-size: 14px;

			.facebookIcon,
			.instaIcon,
			.youtubeIcon,
			.twitterIcon {
				cursor: pointer;
				color: rgba(255, 255, 255, 0.4);
			}

			.facebookIcon:hover,
			.instaIcon:hover,
			.youtubeIcon:hover,
			.twitterIcon:hover {
				opacity: 0.7;
			}
		}
	}
}
