.list_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .list_grid {
        display: grid;
        width: 80%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 72vh);
        grid-auto-flow: row;
        grid-auto-rows: 72vh;
        grid-column-gap: 10%;
    }
}