.star {
  cursor: pointer;
  justify-content: end;
  align-items: flex-end;
  text-align: right;
  padding-right: 10px;

  img {
    width: 20px;
    height: 20px;
    justify-content: end;
    align-items: flex-end;
  }
  &:hover {
    .text_box_B {
      border-top: thick solid black;
    }
  }
}
.wrapper-bag {
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 350px;
  .list_item_B {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width: 350px;

    .img_box {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    .list_img img {
      margin-top: -200px;
      width: 314px;
      height: 170px;
    }
    &:hover {
      .text_box_B {
        border-top: thick solid black;
      }
    }
    .list_price {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
    }
    .list_other {
      text-align: center;
    }

    .text_box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 7%;
      padding-bottom: 20%;

      width: 100%;
      height: 30%;
      border-top: thick solid white;
      transition: 0.3s;

      .list_name_B {
        font-family: abchanel-corpo, 맑은고딕, Malgun Gothic, Apple Gothic, 돋움,
          Dotum, 굴림, Gulim, sans-serif;
        font-weight: 900;
        font-size: 20px;
        letter-spacing: 1px;
      }

      .list_material {
        font-family: 맑은고딕, Malgun Gothic, Apple Gothic, 돋움, Dotum, 굴림,
          Gulim, sans-serif;
        font-weight: 300;
        font-size: 14px;
        padding-top: 1%;
        letter-spacing: 1px;
      }

      .list_price {
        font-family: abchanel-corpo, 맑은고딕, Malgun Gothic, Apple Gothic, 돋움,
          Dotum, 굴림, Gulim, sans-serif;
        font-weight: 900;
        font-size: 14px;
        padding-top: 3%;
        letter-spacing: 1px;

        .gray_star {
          color: gray;
        }
      }

      .list_other {
        font-family: 맑은고딕, Malgun Gothic, Apple Gothic, 돋움, Dotum, 굴림,
          Gulim, sans-serif;
        font-weight: 300;
        font-size: 14px;
        padding-top: 3%;
        letter-spacing: 1px;
      }
      .WishList div {
        text-align: left;
      }
    }
  }
}
