.Nav {
  background-color: white;
  width: 100%;
  height: 140px;
  text-align: center;
  position: fixed;
  top: 0;

  .boldLine {
    height: 8px;
    background-color: black;
  }

  img {
    margin-top: 25px;
    width: 180px;
  }

  .iconWrapper {
    font-size: 18px;
    position: absolute;
    right: 100px;
    top: 40px;
    opacity: 0.8;

    .starIcon,
    .userIcon {
      margin-left: 15px;
      cursor: pointer;
    }

    .searchIcon {
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    li {
      font-size: 12.5px;
      margin-right: 30px;
      padding-bottom: 25px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 500;
      border-bottom: 5px solid #fff;
      cursor: pointer;
      transition: border-bottom 0.2s ease-in-out;
    }

    li:last-child {
      margin-right: 0;
    }

    li:hover {
      color: rgba(0, 0, 0, 0.4);
    }

    .active {
      border-bottom: 5px solid black;
      transition: border-bottom 0.2s ease-in-out;
    }
  }
}
